#Hero_code {
  background-image: url("../images/code_hero.jpg");
  background-size: cover;
}
#Hero_data {
  background-image: url("../images/data_hero.jpg");
  background-size: cover;
}
.App {
  // background-color: green;
  font-family: 'Roboto';
}
.Header {
  height: 5vmax;
  background-color: black;
  img {
    left: 5;
    position: absolute;
    height: 5vmax;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    right: 0;
    width: 30vmax;
    font-size: 20px;
    color: #dcdcdc;
    position: absolute;
    text-align:right;
    padding-right: 2vmax;
    a {
      color: #38bcbd;
    }
  }
}
.Learn-Head {
  font-family: 'Roboto';
  color: white;
  border: solid green thin;
  width: 30vmax;
  text-align: left;
  padding: 10px;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
}
.Form {
  border: solid red thin;
  width: 20vmax;
  text-align: center;
  background-color: rgba(220,220,220,.5);
}
