
$blue: #38bcdb !global;
$blue-hover: #2e91a3 !global;
$grey: #a9aaab !global;
$light-grey: #dcdcdc !global;
$code-background: url("../images/code_hero.jpg");
$data-background: url("../images/data_hero.jpg");
$faq-background: url("../images/faq.jpg");
$about-background: url("../images/about.jpg");
$featuring-background: url("../images/featuring.jpg");
$mobile-code-background: url("../images/mobile/code_mobile_hero.jpg");
$mobile-data-background: url("../images/mobile/data_mobile_hero.jpg");
$mobile-about-background: url("../images/mobile/about_mobile.jpg");
$mobile-faq-background: url("../images/mobile/faq_mobile.jpg");
$mobile-featuring-background: url("../images/mobile/featuring_mobile.jpg");



.App {
  font-family: 'Roboto';
}
#Hero_code {
  background-image: $mobile-code-background;
  @media screen and (min-width: 800px) {
    background-image: $code-background;
  }
}
#Hero_data {
  background-image: $mobile-data-background;
  @media screen and (min-width: 800px) {
    background-image: $data-background;
  }
}



.Hero {
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Hero-Mobile {
  display: none;
}

#Hero_mobile_code {
  background-size: cover;
  background-image: $mobile-data-background;
}

.Header {
  order:1;
  height: 7vmax;
  width: 100vmax;
  background-color: rgba(0,0,0,.8);
  img {
    left: 5;
    position: absolute;
    height: 5vmax;
    margin-left: 5vmax;
    margin-bottom: 1vmax;
    padding: 1vmax;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    right: 0;
    width: 30vmax;
    font-size: 15px;
    color: #dcdcdc;
    position: absolute;
    text-align:right;
    padding-right: 2vmax;
    a {
      color: #38bcbd;
    }
  }
}

.Learn-Head {
  order: 2;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  width: 25vmax;
  margin-left: 4vmax;
  margin-top: 3vmax;
  text-align: left;
  padding: 10px;
  h1 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom:0;
  }
  p {
    font-size: 2vw;
    margin-top: 0;
    font-family: 'Roboto Slab';
    font-weight: lighter;
  }
}
.Form {
  order: 4;
  width: 25vmax;
  height: 10.5vmax;
  margin-right: 8vmax;
  margin-left: 4vmax;
  margin-bottom: 3vmax;
  text-align: center;
  background-color: rgba(220,220,220,.85);
  border-radius: 5px;
  h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 2vmax;
    font-weight: bold;
  }
  p {
    margin-bottom:0;
    font-size: .95vw;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 1.5vmax;
    width: 9vmax;
    margin-left: 10px;
    margin-bottom: .3vw;
  }
  button {
    color: white;
    font-size: 1.8vmax;
    font-weight: bold;
    border-radius: 6px;
    background-color: $blue;
    width: 24vmax;
    height: 2.7vmax;
    margin-bottom: 0;
  }
  button:hover {
    color: white;
    background-color: $blue-hover;

  }
}

.Top-Content {
  order: 3;
  width: 28vmax;
  margin-right: 7vmax;
  margin-top: 3vmax;
  text-align: right;
  h2 {
    font-size: 1.7vmax;
    color: #38bcbd;
    margin-bottom: .3vw;
  }
  p {
    color: white;
    font-size: 1.2vw;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: solid $blue-hover thick;
  }
  h1 {
    color: #38bcbd;
    font-style: oblique;
    margin-top: 0;
  }
}
.Bottom-Content {
  order: 5;
  width: 28vmax;
  margin-right: 7vmax;
  margin-bottom: 3vmax;
  text-align: right;
  h2 {
    font-size: 1.7vmax;
    color: white;
    margin-bottom: .3vw;
  }
  p {
    color: white;
    font-size: 1.2vw;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: solid white thick;
  }
  h1 {
    color: white;
    font-style: oblique;
    margin-top: 0;
  }
}



.Feature {
  background-image: $featuring-background;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50vmax;
  justify-content: space-around;
  @media only screen and (max-aspect-ratio: 16/9) {
    background-image: $mobile-featuring-background;
    align-items: center;
    height: auto;
  }
}
.lazy-feature {
  background-image: $mobile-featuring-background;
  @media screen and (min-width: 800px) {
    background-image: $featuring-background;
  }
  background-size: cover;
  h1 {
    margin-top: 0;
    font-size: 3vw;
    width: 100vw;
    padding-top: 4vw;
    text-decoration: underline;
    color: white;
    text-align: center;
  }
  @media only screen and (max-aspect-ratio: 16/9) {
    h1 {
      font-size: 7.5vw;
    }
  }
}


@for $i from 1 through 7 {
  #feature-#{$i} {
    font-family: 'Roboto Slab';
    color: white;
    order: $i;
    width: 20vw;
    margin: 6vw;
    margin-top:0;
    margin-bottom:2vw;
    text-align: center;
    img {
      width: 6vw;
    }
    @media only screen and (max-aspect-ratio: 16/9) {
      width: 53vmax;
      margin: 0;
      font-size: 3vw;
      img {
        width: 18vw;
      }
    }
   }
}
#feature-3 {
  img {
    height: 35vw;
    width: auto;
  }
  p {
    font-size: .8vw;
  }
  @media only screen and (max-aspect-ratio: 16/9) {
    order: 0;
    img {
      height: 45vmax;
    }
    p {
      display:none
    }
  }
}
#feature-6 {
  display: none;
  font-size: 1.8;
  @media only screen and (max-aspect-ratio: 16/9) {
    display: block;
  }
}



.Faq {
  background-image: $faq-background;
  background-size: cover;
  height: 45vw;
  h1 {
    margin-top: 0;
    padding-top: 5vw;
    font-size: 3vw;
    text-decoration: underline;
    color: black;
  }
  @media only screen and (max-aspect-ratio: 16/9) {
    background-image: $mobile-faq-background;
    align-items: center;
    height: auto;
  }
}

.faq-questions {
  width: 40vw;
  margin-left: 10vw;
  a {
    text-decoration: none;
  }
}
.Collapsible__trigger {
  font-family: 'Roboto Slab';
  font-size: 1.2vw;
  color: black;
  margin-top:0;
  margin-bottom:0;
  text-align: left;
}
.Collapsible__trigger:before {
  font-family:'FontAwesome';
  font-size: 1.2vw;
  content:"\f13a";
  float: left;
  color: black;
  border-radius: 50%;
  //Having trouble getting background of icon to within  the icon, it seems to spill out
  //It seems to not be round or the border radius property is not set properly
  background-color: $blue;
}
.Collapsible__trigger.is-closed:before {
  font-family:'FontAwesome';
  font-size: 1.2vw;
  content:"\f138";
  float: left;
  color: $blue;
  border-radius: 50%;
  background-color: black;
}

@for $i from 1 through 7 {
  #faq-#{$i} {
    font-family: 'Roboto Slab';
    font-size: 1.2vw;
    color: black;
    order: $i;
    width: 30vw;
    max-width: inherit;
    margin-top:0;
    margin-bottom:0;
    text-align: left;
  }
  #answer-#{$i} {
    max-width: inherit;
    font-family: 'Roboto Slab';
    font-size: 1vw;
  }
}

.Footer {
  order:1;
  height: 7vmax;
  // width: 100vmax;
  background-color: $blue;
  img {
    left: 5;
    position: absolute;
    height: 5vmax;
    margin-left: 5vmax;
    margin-bottom: 1vmax;
    padding: 1vmax;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    right: 0;
    width: 30vmax;
    font-size: .8vw;
    color: black;
    position: absolute;
    text-align:right;
    padding-right: 2vmax;
    a {
      color: #38bcbd;
    }
  }
}

$parallax-perspective : 1 !default;
$parallax-element : "body" !default;
$parallax-ios : true !default;

@mixin parallax-init($perspective : $parallax-perspective, $element : $parallax-element, $parallax-ios : $parallax-ios) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touchl
    }
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax($distance : 0, $perspective : $parallax-perspective) {
  transform: translateZ($distance * $perspective * 1px) scale(abs($distance - 1));
  z-index: $distance * 1000;
}

@include parallax-init;
// @include parallax-init;

.Story {
  // @include parallax-init();
  background-image: $about-background;
  // @media screen and (min-width: 800px) {
  //   background-image: $mobile-about-background;
  // }
  background-size: cover;
  height: 30vw;
  position: relative;
  h1 {
    @include parallax(.1);
    font-size: 3vw;
    padding-top: 4vw;
    vertical-align: middle;
    margin : auto;
    position : absolute;
    top:3vw;
    bottom:0;
    left:0;
    right:0;
    text-decoration: underline;
    color: $blue;
    text-align: center;
  }
  p {
    @include parallax(.2);
    width: 75vw;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Roboto Slab';
    font-weight: lighter;
    margin : auto;
    position : absolute;
    top:12vw;
    bottom:0;
    left:0;
    right:0;
  }
}

@media only screen and (max-aspect-ratio: 16/9) {
  .Hero {
    display: none;
  }
  .Hero-Mobile {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2vw;
    }
  }
  .Header {
    width: 100vw;
  }
  .Form {
    width: 100%;
    height: 45vw;
    margin: 0;
    padding: 0;
    h2 {
      margin-top: 0;
      padding-top: 3vw;
      font-size: 4.5vmax;
    }
    p {
      font-size: 3.2vw;
      color: darken(grey,10);
      font-weight: 300;
    }
    input {
      width: 27vmax;
      height: 6vmax;
      margin-bottom: 2vmax;
      font-size: 2.5vmax;
    }
    button{
      width: 85vw;
      height: 12vw;
      margin-bottom: 3vw;
      font-size: 3.2vmax;
    }
  }
  .Story {
    background-image: $mobile-about-background;
    min-height: 1000px;
    h1 {
      font-size: 8vmax;
    }
    p {
      font-size: 5.5vmax;
    }
  }
  .Faq {
    min-height:1200px;
    padding-bottom: 60vw;
  }
  .faq-questions {
    max-width: 80vmax;
    width: 80vmax;
    overflow: scroll;
    vertical-align: middle;
    margin: auto;
    position: relative;
    top:3vw;
    bottom:0;
    left:0;
    right:0;
    padding: 4vmax;
    h1 {
      font-size: 8vw;
      text-align: center;
      // line-height: 6vmax;
      margin: 3vmax;
    }
  }
  .Collapsible {
    vertical-align: middle;
    width: 85vmax;
    // margin: 3vmax;
    max-width: inherit;
    // overflow: hidden;
    span {
      max-width: inherit;
      font-size: 3.5vw;
      padding: 2vw;
    }
  }
  .Collapsible__contentOuter {
    margin: 3vmax;
    max-width: inherit;
    li {
      max-width: inherit;
      font-size: 3vw;
      padding: 1.5vw;
    }
  }
  span.Collapsible__trigger {
    max-width: 75vmax;
    // overflow: hidden;
  }
  .Collapsible__trigger.is-closed:before {
    font-size: 3vw;

  }
  .Collapsible__trigger:before {
    font-size: 3vw;
  }
}
